* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.container-footer-img_text {
  display: flex;
}
.container-footer-text {
  margin-left: 25px;
}

.footer-background {
  background-color: rgba(60, 35, 19, 1);
  display: flex;
  flex-direction: row;
  height: 40vh;
}

.container-footer-info {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-footer-info h2 {
  color: white;
  font-weight: 400;
}

.container-footer-info p {
  color: #8a8787;
  font-weight: 300;
}

.container-footer-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 70px;
}

.footer-all-reserved {
  background-color: #222222;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0px;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.btn-subs {
  border: none;
  background-color: rgba(60, 35, 19, 1);
  color: white;
  border-radius: 40px;
  width: 100px;
  height: 34px;
  margin-left: 10px;
  font-weight: 300;
}

.subscribe {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.container-subscribe-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-subscribe {
  background-color: #f0a83e;
  margin-top: 45px;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
}

.buttonForm-reset {
  background-color: #8a8787;
  color: white;
  border-radius: 40px;
  font-weight: 300;
  width: 110px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.buttonForm-send {
  background-color: rgba(240, 168, 62, 1);
  color: white;
  border-radius: 40px;
  font-weight: 300;
  width: 110px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.input-subs {
  width: 271px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: black;
  border-radius: 15px;
}

.input-contact {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 15px;
  background-color: rgba(60, 35, 19, 1);
  width: 30%;
  border: none;
  color: white;
}

.contact-us {
  color: rgba(60, 35, 19, 1);
  margin: 12px;
}

.container-contact-us {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-price {
  color: rgba(240, 168, 62, 1);
  padding-bottom: 10px;
}
#card1 {
  background-image: url("/img/churrasquito.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}
#card2 {
  background-image: url("/img/comedero.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}
#card3 {
  background-image: url("/img/Huesito.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgba(60, 35, 19, 1);
}

#paw {
  padding-top: 30px;
}

.container-header {
  background-color: rgba(34, 34, 34, 1);
  color: rgba(243, 243, 243, 1);
  display: flex;
  padding: 1vh 5vw;
  justify-content: space-between;
}

.list {
  margin-right: 20px;
}

.icon {
  margin-right: 5px;
}

.title-header {
  display: flex;
  align-items: center;
  font-weight: 100;
}

.lang-header {
  display: flex;
  font-weight: 100;
}

.container-header-2 {
  background-color: rgba(240, 168, 62, 1);
  color: rgba(243, 243, 243, 1);
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
}

.select-icon {
  margin-left: 5px;
}

.main-container-featured {
  text-align: center;
  margin-bottom: 50px;
}

#title-featured {
  font-size: 40px;
  font-weight: bold;
  color: rgba(60, 35, 19, 1);
}

#container-nav-main {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 20px;
  color: rgba(60, 35, 19, 1);
}

#main-container-title {
  text-align: center;
  margin-right: 20px;
}

#title {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: rgba(60, 35, 19, 1);
}

#subtitle {
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgba(60, 35, 19, 1);
}

#button {
  color: white;
  text-transform: uppercase;
  background-color: #f0a83e;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 300;
}
#main-wallpaper {
  display: flex;
  background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: end;
  align-items: center;
}

.separeted {
  margin: 0px 20px;
}
.separeted-currency {
  margin-left: 20px;
}

#nav-main {
  display: flex;
  list-style-type: none;
  align-items: center;
}
