* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.cards-price {
  color: rgba(240, 168, 62, 1);
  padding-bottom: 10px;
}
#card1 {
  background-image: url("/img/churrasquito.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}
#card2 {
  background-image: url("/img/comedero.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}
#card3 {
  background-image: url("/img/Huesito.png");
  text-align: center;
  font-weight: bold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 312px;
  width: 265px;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#paw {
  padding-top: 30px;
}

.container-header {
  background-color: rgba(34, 34, 34, 1);
  color: rgba(243, 243, 243, 1);
  display: flex;
  padding: 1vh 5vw;
  justify-content: space-between;
}

.list {
  margin-right: 20px;
}

.icon {
  margin-right: 5px;
}

.title-header {
  display: flex;
  align-items: center;
}

.lang-header {
  display: flex;
}

.container-header-2 {
  background-color: rgba(240, 168, 62, 1);
  color: rgba(243, 243, 243, 1);
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
}

.select-icon {
  margin-left: 5px;
}

.main-container-featured {
  text-align: center;
  margin-bottom: 50px;
}

#title-featured {
  font-size: 40px;
  font-weight: bold;
}

#container-nav-main {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 20px;
}

#main-container-title {
  text-align: center;
  margin-right: 20px;
}

#title {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#subtitle {
  padding: 10px;
  margin-bottom: 20px;
}

#button {
  color: white;
  text-transform: uppercase;
  background-color: #f0a83e;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
}
#main-wallpaper {
  display: flex;
  background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: end;
  align-items: center;
}

.separeted {
  margin: 0px 20px;
}

#nav-main {
  display: flex;
  list-style-type: none;
  align-items: center;
}
