* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
}

textarea{
  resize: none;
}

#header1 {
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}

#header2 {
  background-color: #00669f;
  box-shadow: 0 10px 7px 0 rgb(0 0 0 / 25%);
  padding: 28px;
  color: white;
  display: flex;
}

#header3 {
  display: flex;
  background-color: #001d2d;
  color: white;
  justify-content: flex-end;
  padding: 10px 20px;
}

.register{
  color: #00669F;
}
.header2-title {
  font-size: 40px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vh;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 18%;
}

.titleCard {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.paragraphCard {
  margin: 20px;
}

.iconHeart {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.container-contact2{
  display: flex;
  flex-direction: column;
}
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.formImg {
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 133px;
}

.cards {
  background-color: rgba(243, 243, 243, 1);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 337px;
}

.button {
  background-color: #00669f;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  padding: 15px 37px;
  position: absolute;
  bottom: 20px;
}

a{
  text-decoration: none;
  color: white;
}

footer {
  background-color: #00669f;
  padding: 16px;
  color: white;
  font-size: 16px;
  text-align: center;
}
