* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 10;
}

#header1 {
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
}
#header2 {
  background-color: #00669f;
  box-shadow: 0 10px 7px 0 rgb(0 0 0 / 25%);
  font-size: 40px;
  font-weight: 400;
  padding: 28px;
}

.titleCard {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.paragraphCard {
  margin: 10px;
}

.iconHeart {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.container-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.formImg {
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 133px;
}

.cards {
  background-color: rgba(243, 243, 243, 1);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 337px;
}

.button {
  background-color: #00669f;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  padding: 15px 37px;
  position: absolute;
  bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #00669f;
  padding: 16px;
  color: white;
  font-size: 16px;
  text-align: center;

  z-index: 10;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
