* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Fondos */
.background{
  background-image: url(/img/bg-tablet-pattern.svg);
  background-position: top right;
  background-repeat: repeat-y;
}


/* Display flex */

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Todo el estilo del body*/

.container {
  margin: 5rem;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.no-symbols {
  list-style-type: none;
  gap: 1rem;
}

.no-symbols-icons {
  list-style-type: none;
  gap: 1rem;
}

.no-symbols-icons li {
  color: white;
  font-size: 20px;
}

.no-symbols-icons li:hover {
  color: #f3603b;
}

.no-symbols li:hover {
  opacity: 25%;
}

.no-symbols li a {
  color: #242e52;
  text-decoration: none;
}

.title {
  color: #242e52;
  text-decoration: none;
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
}

.subtitle {
  color: #242e52;
  font-size: 2.3rem;
  letter-spacing: -0.035em;
}

.subtitle2 {
  color: #242e52;
  font-size: 1.3rem;
  letter-spacing: -0.035em;
}

.paragraph {
  color: #b3b2b7;
  line-height: 2rem;
}

.btn-get {
  color: white;
  background-color: rgb(242, 95, 58);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.btn-get:hover {
  opacity: 35%;
}

.btn-get-invert:hover {
  opacity: 35%;
}

.btn-get-invert {
  color: rgb(242, 95, 58);
  background-color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.container-title {
  gap: 2rem;
  width: 30rem;
}

.container-title p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.graphic {
  width: 580px;
}

.container-title-2 {
  margin: 5rem;
  flex-flow: wrap;
}

.info-about {
  height: 15rem;
  width: 25rem;
}

.container-list {
  width: 35rem;
  gap: 2rem;
}

.number {
  align-self: flex-start;
  background: #f3603b;
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
}

.separed {
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.size {
  width: 80%;
}

.separed2 {
  gap: 2rem;
}

.item {
  align-items: flex-end;
}

.container-list-people {
  height: 30rem;
  text-align: center;
  margin: 5rem;
}

.container-cards {
  position: relative;
  margin-top: 3rem;
  flex-flow: wrap;
}

.photo-profile {
  width: 70px;
  position: absolute;
  top: -2rem;
}

.cards {
  text-align: center;
  align-items: center;
  background-color: #fafafa;
  width: 25rem;
  height: 17rem;
  justify-content: center;
}

.cards h3 {
  margin: 1rem 0rem;
}

.cards p {
  margin: 0rem 1rem;
}

.container-pre-footer {
  background-color: #f3603b;
  padding: 5rem;
  align-items: center;
}

.container-pre-footer h1 {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  width: 40rem;
}

.container-footer {
  align-items: center;
  background-color: #1e1e26;
  padding: 3rem;
  flex-flow: wrap-reverse;
}

.container-footer div {
  height: 10rem;
}

.container-footer form {
  height: 8rem;
}

.container-footer form p {
  text-align: right;
}

.container-nav-footer {
  width: 25rem;
  justify-content: space-between;
}

.list-footer {
  list-style-type: none;
  justify-content: start;
  gap: 1rem;
}

.list-footer li a:hover {
  color: #f3603b;
}

.list-footer li a {
  color: white;
  text-decoration: none;
}

.ipt-mail {
  background: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 1rem;
  width: 13rem;
  outline: none;
}

.ipt-mail:focus {
  border: 1px solid #f3603b;
  color: #f3603b;
}

.btn-go {
  background: #f3603b;
  border-radius: 50px;
  border: none;
  padding: 1rem 1.5rem;
  color: white;
}

.btn-go:hover {
  opacity: 25%;
  cursor: pointer;
}

.copyright {
  font-size: 0.8rem;
  color: #8c8c94;
}

.list-circle {
  display: none;
}


/* Responsive design mobile */

@media (min-width: 0px) and (max-width: 375px) {
  .graphic {
    width: 350px;
  }

  .container-footer div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .container-footer div img {
    width: 150px;
  }

  .container-footer::before {
    content: "Copyright 2020. All Rights Reserved";
    color: #b3b2b7;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 1rem;
  }

  .no-symbols-icons li {
    font-size: 30px;
  }

  .no-symbols-icons {
    gap: 2rem;
  }

  .copyright {
    display: none;
  }

  .container-footer form {
    height: 5rem;
  }

  .container-pre-footer {
    flex-direction: column;
  }

  .container-pre-footer h1 {
    font-size: 3rem;
    text-align: center;
    width: 20rem;
    margin-bottom: 3rem;
  }

  #card-1 {
    display: none;
  }

  #card-3 {
    display: none;
  }

  #get1 {
    display: none;
  }

  .container-list-people {
    width: 20rem;
    margin: 2rem;
    height: 40rem;
  }

  .container-title-2 {
    margin: 5rem 2rem;
    text-align: center;
  }

  .container-title {
    text-align: center;
    margin-top: 2rem;
  }

  .container-list {
    flex-wrap: wrap;
  }

  .cards {
    height: 19rem;
  }

  .title {
    font-size: 2.5rem;
    width: 20rem;
    text-align: center;
  }

  .size {
    text-align: left;
    width: 100%;
  }

  .number {
    padding: 17px 29px;
  }

  .franja {
    background-color: rgba(243, 95, 59, 0.2);
    border-radius: 29px 0px 0px 29px;
  }

  .info-about {
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .list-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 3rem 0rem;
  }

  .circleFill {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f3603b;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #f3603b;
  }

  .container-list-people span {
    margin-bottom: 5rem;
  }

  .no-symbols {
    display: none;
  }

  .container {
    margin: 2rem;
    justify-content: start;
  }
}
