* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  margin: 5rem;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.container nav {
  width: 30rem;
}

.no-symbols {
  list-style-type: none;
}

.no-symbols li a {
  color: #242e52;
  text-decoration: none;
}

.title {
  color: #242e52;
  text-decoration: none;
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
}

.subtitle {
  color: #242e52;
  font-size: 2.3rem;
  letter-spacing: -0.035em;
}

.subtitle2 {
  color: #242e52;
  font-size: 1.3rem;
  letter-spacing: -0.035em;
}

.paragraph {
  color: #b3b2b7;
}

.btn-get {
  color: white;
  background-color: rgb(242, 95, 58);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.btn-get-invert {
  color: rgb(242, 95, 58);
  background-color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.container-title {
  height: 24rem;
  width: 30rem;
}

.container-title p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.graphic {
  width: 36.3rem;
}

.container-title-2 {
  margin: 5rem;
  height: 30rem;
}

.info-about {
  height: 15rem;
  width: 25rem;
}

.container-list {
  width: 35rem;
  height: 100%;
}

.number {
  align-self: flex-start;
  background: #f3603b;
  border-radius: 30px;
  margin: 0px 23px;
  padding: 10px 25px;
  color: white;
}

.item {
  height: 8rem;
}

.container-list-people {
  height: 30rem;
  text-align: center;
  margin: 5rem;
}

.container-cards {
  position: relative;
  margin-top: 3rem;
}

.photo-profile {
  width: 70px;
  position: absolute;
  top: -2rem;
}

.cards {
  text-align: center;
  align-items: center;
  background-color: #fafafa;
  width: 25rem;
  height: 14rem;
  justify-content: center;
}

.cards h3 {
  margin: 1rem 0rem;
}

.cards p {
  margin: 0rem 1rem;
}

.container-pre-footer {
  background-color: #f3603b;
  padding: 5rem;
  align-items: center;
}

.container-pre-footer h1 {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  width: 40rem;
}

.container-footer {
  align-items: center;
  background-color: #1e1e26;
  padding: 3rem;
}

.container-footer div {
  height: 10rem;
}

.container-footer form {
  height: 8rem;
}

.container-footer form p {
  text-align: right;
}

.container-nav-footer {
  width: 25rem;
  justify-content: space-between;
}

.list-footer {
  list-style-type: none;
  justify-content: start;
  gap: 1rem;
}

.list-footer li a {
  color: white;
  text-decoration: none;
}

.ipt-mail {
  background: #ffffff;
  border-radius: 50px;
  border: none;
  padding: 1rem;
  width: 13rem;
}

.btn-go {
  background: #f3603b;
  border-radius: 50px;
  border: none;
  padding: 1rem 1.5rem;
  color: white;
}

.copyright {
  font-size: 0.8rem;
  color: #8c8c94;
}

@media (min-width: 0px) and (max-width: 375px) {
}
